USE [master]
GO
/****** Object:  Database [License]    Script Date: 9/21/2023 2:11:52 PM ******/
CREATE DATABASE [License]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'License', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MINHDUONGG\MSSQL\DATA\License.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'License_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MINHDUONGG\MSSQL\DATA\License_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [License].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [License]
GO
/****** Object:  Table [dbo].[3rd]    Script Date: 9/21/2023 2:11:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[3rd](
	[feedbackId] [int] NOT NULL,
	[returnstatus] [nvarchar](50) NOT NULL,
	[datein] [datetime] NOT NULL,
	[dateout] [datetime] NOT NULL,
	[3rd_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Administrator]    Script Date: 9/21/2023 2:11:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrator](
	[fullname] [nvarchar](50) NOT NULL,
	[Id] [int] NOT NULL,
	[role] [nchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Consultant]    Script Date: 9/21/2023 2:11:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultant](
	[con_Id] [nvarchar](50) NOT NULL,
	[fullname] [nvarchar](50) NOT NULL,
	[feedbackId] [int] NOT NULL,
	[returnstatus] [nvarchar](50) NOT NULL,
	[datein] [datetime] NOT NULL,
	[dateout] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exam]    Script Date: 9/21/2023 2:11:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exam](
	[examId] [int] NOT NULL,
	[Qlimit] [nchar](10) NOT NULL,
	[Time] [nvarchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exam Detail]    Script Date: 9/21/2023 2:11:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exam Detail](
	[examId] [int] NOT NULL,
	[examtype] [nvarchar](50) NOT NULL,
	[estatus] [nvarchar](50) NOT NULL,
	[etime] [nvarchar](10) NOT NULL,
	[elogs] [nchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 9/21/2023 2:11:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[memberId] [int] NULL,
	[fullname] [nvarchar](50) NULL,
	[phone] [int] NULL,
	[adddress] [nvarchar](50) NULL,
	[km] [nchar](10) NULL,
	[schedule] [datetime] NULL,
	[password] [nchar](10) NULL,
	[role] [nchar](10) NULL,
	[status] [nchar](10) NULL,
	[license] [nchar](10) NULL,
	[email] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mentor]    Script Date: 9/21/2023 2:11:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mentor](
	[mentorId] [int] NOT NULL,
	[Experience] [nvarchar](50) NOT NULL,
	[schedule] [nchar](10) NOT NULL,
	[role] [nchar](10) NOT NULL,
	[fullname] [nvarchar](50) NOT NULL,
	[phone] [nvarchar](50) NOT NULL,
	[mentordate] [nchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mentor Schedule]    Script Date: 9/21/2023 2:11:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mentor Schedule](
	[mentorsheduleId] [int] NOT NULL,
	[Monday] [nchar](10) NULL,
	[tuesday] [nchar](10) NULL,
	[wednesday] [nchar](10) NULL,
	[thurday] [nchar](10) NOT NULL,
	[friday] [nchar](10) NOT NULL,
	[saturday] [nchar](10) NOT NULL,
	[sunday] [nchar](10) NOT NULL,
	[memberdate] [nchar](10) NOT NULL,
	[mentorday] [nchar](10) NOT NULL,
	[checkId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 9/21/2023 2:11:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[type] [nvarchar](50) NOT NULL,
	[date] [nchar](10) NOT NULL,
	[price] [float] NOT NULL,
	[pm_Id] [int] NOT NULL,
	[pm_total] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment Detail]    Script Date: 9/21/2023 2:11:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment Detail](
	[price] [float] NOT NULL,
	[pmd_status] [nvarchar](50) NOT NULL,
	[pmd_Id] [int] NOT NULL,
	[pmd] [nvarchar](50) NOT NULL,
	[memberId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 9/21/2023 2:11:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[qtype] [nvarchar](50) NOT NULL,
	[qlimit] [nchar](10) NOT NULL,
	[qurl] [nchar](10) NOT NULL,
	[qanswer] [nvarchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question Detail]    Script Date: 9/21/2023 2:11:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question Detail](
	[qId] [int] NOT NULL,
	[qurl] [nchar](10) NOT NULL,
	[qlimit] [nchar](10) NOT NULL,
	[qanswer] [nvarchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 9/21/2023 2:11:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[fullname] [nvarchar](50) NOT NULL,
	[Id] [int] NOT NULL,
	[role] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
